.dayRemainder{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(240, 240, 240); */
    color: rgb(123, 123, 123);
    font-weight: bold;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.dayRemainder p:nth-child(2){
    color: rgb(211, 132, 240);
}

.dayItems{
    padding: 0 10px;
}

.itemGroup{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.itemGroup:not(:first-child){
    border-top: 1px solid rgb(195, 195, 195);
}

.percentGroup{
    display: grid;
    width: 75%;
    row-gap: 3px;
}

.percent{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.percent img{
    width: 30px;
    height: 30px;
}

.percentBarContainer{
    position: relative;
}

.percentBarContainer div{
    position: absolute;
    height: 3px;
    border-radius: 3px;
}

.percentBar{
    background-color: rgb(234, 234, 234);
    width: 100%;
}