
.header{
    width: 100%;
    height: 50px;
    /* background-color: bisque; */
    display: grid;
    align-items: center;
    /* box-shadow: rgba(136, 165, 191, 0.48) 0 2px 8px -3px, rgba(255, 255, 255, 0.8) 0 2px 8px -3px; */
    position: relative;
}

.icon{
    height: 16px;
}

.choose{
    width: 50%;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    position: relative;
    font-weight: bold;
    /* background-color: white; */
}

.choose div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.triggerPage{
    position: absolute;
    width: 25%;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
    right: 50%;
}

.vertical{
    position: absolute;
    width: 2px;
    height: 35px;
    background-color: black;
}

.iconList{
    /* height: 205px; */
    /* overflow: auto; */
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    row-gap: 20px;
    border-top: 2px solid black;
}

.iconList div{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.iconList img{
    width: 30px;
    height: 30px;
}
/* .iconList div svg{
    font-size: 20px;
    justify-self: center;
} */