.dateAndRemainder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.date{
    display: flex;
    column-gap: 10px;
}

.line{
    width: calc(100% + 20px);
    transform: translateX(-10px);
    height: 2px;
    background-color: black;
}

.itemsByDay > div:not(:first-child){
    border-top: 1px solid rgb(195, 195, 195);
}

.items{
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.item{
    display: flex;
    column-gap: 8px;
    margin-right: auto;
    align-items: center;
}

.item img{
    width: 30px;
    height: 30px;
}

.trash{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trash svg{
    width: 20px;
    height: 20px;
}

.background{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translate(-22px);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: auto;
}

.remindWindow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 120px;
    background-color: white;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.remindWindow > p:first-child{
    font-size: 20px;
    font-weight: bold;
}

.deleteChoice{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
}

.deleteChoice p{
    font-weight: bold;
    padding: 5px 10px;
}

.deleteChoice p:nth-child(2){
    background-color: rgb(254, 116, 106);
    color: white;
    border-radius: 0 4px 4px 0;
    position: relative;
}

.deleteChoice p:nth-child(2)::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: black;
    left: 0;
    top: 0;
}

@media screen and ( min-width : 768px ){
    .line{
        width: 100%;
        transform: none;
        height: 3px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(200, 200, 200); 
    }
}

@media screen and ( min-width : 1068px ){
    .background{
        transform: translate(calc(-30% - 22px));
    }
}