.sidebarBackground{
    position: fixed;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    pointer-events: none;
    transition: background-color 0.2s;
}

.sidebar{
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-image: linear-gradient(30deg , rgb(60,132,255), rgb(128,227,255));
    border-top-right-radius: 80px;
    transition: transform 0.3s;
    transform: translateX(-100%);
}

.cross{
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.cross svg{
    width: 20px;
    height: 20px;
}

.username{
    font-size: 24px;
    padding: 81px 10px;
    color: white;
}

.sidebarContainer{
    display: grid;
    row-gap: 5px;
}

.sidebarContainer a{
    color: white;
    font-size: 16px;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}

.sidebarContainer a svg{
    margin-right: 10px;
}

.sidebarContainer a:hover{
    color: rgb(63,94,251);
    background: white;
    outline: none;
    position: relative;
    background-color: rgb(240,244,247);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebarContainer a:nth-child(2):hover{
    color: LightCoral;
}

.sidebarContainer a:nth-child(3):hover{
    color: CornflowerBlue;
}

.sidebarContainer a:nth-child(4):hover{
    color: rgb(211, 132, 240);
}

.sidebarContainer a:nth-child(5):hover{
    color: rgb(4,170,109);
}

.sidebarContainer a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 rgb(240,244,247);
}

.sidebarContainer a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 rgb(240,244,247);
}

.container{
    width: 100%;
    height: 52px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* background-image: linear-gradient(45deg, rgb(255, 255, 165), rgb(165, 255, 165)); */
    position: fixed;
    background-color: white;
    z-index: 1009;
}

.bar{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.bar svg{
    padding: 0 5px;
}

.container svg{
    font-size: 20px;
}

.title{
    text-align: center;
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
    color: black;
}

.iconContainer{
    justify-self: end;
    align-items: center;
    display: flex;
    column-gap: 2vw;
}

.iconContainer svg:first-child{
    color: rgb(4,170,109);
}

.logout{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #6c2bd9, #7e3af2, #9061f9, #7e3af2, #6c2bd9);
    background-size: 200%;
    transition: background 0.3s;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.logout:hover{
    background-position: 100%;
}

.space{
    height: 52px;
}

/* @media screen and ( min-width : 768px ){
    .sidebar{
        width: 45%;
    }
} */

@media screen and ( min-width : 1068px ){
    .sidebarBackground{
        z-index: 9;
        background-color: rgba(0, 0, 0, 0) !important;
        pointer-events: none !important;
    }
    .sidebar{
        transition: none;
        transform: none;
        pointer-events: auto;
        background-color: transparent;
        border-top-right-radius: 0px;
    }
    .cross{
        display: none;
    }
    .bar{
        visibility: hidden;
    }
}

@media screen and ( min-width : 1440px ) {
    .sidebarBackground{
        width: 1423px;
        left: 50%;
        transform: translate(-50%);
    }
    .logout{
        position: fixed;
        right: 50%;
        transform: translateX(671.5px);
    }
}