.container{
    padding-top: 52px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: bisque;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
}

.dropdownTitle{
    display: flex;
    cursor: pointer;
}

.dropdownLayout{
    position: fixed;
    z-index: 3;
    top: 102px;
    width: 100%;
    height: calc(100vh - 102px);
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown{
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: transform 0.3s;
}

.dropdownList{
    width: 100%;
    height: 125px;
    text-align: center;
    position: fixed;
    background-color: rgb(128, 219, 71);
    z-index: 3;
    top: 102px;
    display: grid;
    padding: 0px 10px 10px 10px;
    transition: transform 0.3s;
    transform: translateY(-125px);
}

.selectYear{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.selectYear div{
    cursor: pointer;
}

.selectMonth{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
}

.selectMonth div{
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.selectMonth div:hover{
    background-color: yellow;
}

.analyze{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 0 10px;
}

.googleChart {
    position: relative;
    top: -65px;
}

.googleChart > div{
    position: absolute;
    top: 0;
    z-index: 1;
}

/* .googleChart svg g:nth-child(3) > path:first-child{
    fill: green !important;
} 

.googleChart svg g:nth-child(3):hover > path:nth-child(1){
    fill: aqua !important;
} 

.googleChart svg g:nth-child(3) > path:nth-child(2){
    stroke: rgb(223, 21, 234) !important;
} 

.googleChart svg g:nth-child(3):hover > path:nth-child(3){
    stroke: rgb(0, 0, 0) !important;
}  */

.googleChart svg > g > g:last-child { 
    pointer-events: none !important;
}

.monthRemainder{
    position: absolute;
    top: 153px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
}

.itemsByDayThisMonth{
    display: grid;
    margin: 10px;
    row-gap: 10px;
    position: relative;
    top: 302px;
    z-index: 2;
}

.itemsByDayThisMonth > div{
    border: 2px solid black;
    border-radius: 8px;
    padding: 0 10px;
}

.addItem{
    position: fixed;
    left: 50%;
    top: 500px;
    transform: translateX(-50%);
    border-radius: 50%;
}

.addItem svg{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50%;
    transform: rotate(45deg);
    font-size: 40px;
    color: rgb(252, 103, 103);
}

@media screen and ( max-width : 417px ){
    .googleChart{
        top: calc(-65px - ((417px - (100vw)) / 30) * 10);
    }
    .monthRemainder{
        top: calc(153px - ((417px - (100vw)) / 30) * 10);
    }
    .itemsByDayThisMonth{
        top: calc(302px - ((417px - (100vw)) / 10) * 7);
    }
}