.googleChart{
    position: relative;
    top: 25px;
}

.googleChart > div:first-child{
    position: absolute;
    top: 0;
}

.googleChart svg > g > g:last-child { 
    pointer-events: none !important;
}

.total{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.list{
    position: relative;
    z-index: 1;
    margin: 405px 10px 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
}

.list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.list li:not(:first-child){
    border-top: 2px solid black;
}

@media screen and ( max-width : 417px ){
    .googleChart{
        top: calc(25px - ((417px - (100vw)) / 30) * 10);
    }
    .list{
        margin-top: calc(405px - ((417px - (100vw)) / 10) * 7);
    }
}