.calendarContainer{
    position: absolute;
    width: 100%;
    height: calc(100vh - 52px);
    background-color: white;
    padding: 0 10px;
    overflow-y: auto;
}

.previous{
    position: absolute;
    height: 20px;
    top: 25px;
    left: 15px;
    cursor: pointer;
}

.previous svg{
    width: 20px;
    height: 20px;
}

.calculate{
    display: grid;
    width: calc(100% - 12px);
    margin: 0 6px;
    padding: 10px 0;
    grid-template-columns: repeat(3, calc(100% / 3));
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.calculate > div{
    display: flex;
    align-items: center;
}

.calculate > div > p{
    white-space: nowrap;
}

.calculate > div > p:nth-child(2){
    text-overflow: ellipsis;
    overflow: hidden;
}

.calculate > div:nth-child(1) > p:nth-child(2){
    color: rgb(254, 116, 113);
}

.calculate > div:nth-child(2) > p:nth-child(2){
    color: rgb(71, 184, 224);
}

.calculate > div:nth-child(3) > p:nth-child(2){
    color: rgb(211, 132, 240);
}

.layout{
    margin: 0 6px;
}

.itemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.itemContainer:not(:first-child){
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.imageAndNote{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.itemContainer img{
    width: 30px;
    height: 30px;
}

.unSelected{
    border: none !important;
    padding: 20px 0 !important;
    text-align: center;
}

.unSelected img{
    width: 120px;
}

.remind{
    color: red;
}

.addItem{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: rgb(252, 103, 103);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.7);
}

.addItem svg{
    position: absolute;
    border-radius: 50%;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

@media screen and ( max-width : 767px ){
    .cross{
        display: none;
    }
}

@media screen and ( min-width : 768px ){
    .calendarContainer{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 410px;
        height: 660px;
        background-color: white;
        border-radius: 8px;
        padding: 10px;
        overflow-x: hidden;
    }
    .previous{
        display: none;
    }
    .cross{
        position: absolute;
        height: 20px;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }
    
    .cross svg{
        width: 20px;
        height: 20px;
    }
    .layout{
        overflow: auto;
        height: 200px;
    }
    .unSelected{
        padding: 5px 0 !important;
    }
    
    .unSelected img{
        width: 100px;
    }
    .unSelected > p{
        font-size: 16px;
    }
    .remind{
        font-size: 16px;
    }
    .addItem{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}