*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and ( max-width : 480px ) {
  .Toastify__toast-container{
    width: 100% !important;
  }
}

@media screen and ( min-width : 768px ) {
  body{
    background-color: rgb(240, 240, 240);
  }
}

/*====================
Open Street Map
====================*/
.leaflet-container {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

/*====================
Google React Chart
====================*/
/* svg > g > g:last-child { pointer-events: none } */