*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Signika", "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;/*href scroll*/
}

a{
  text-decoration: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  touch-action: pan-y; /*prevent mobile users scroll left and right*/
}

@media screen and ( min-width : 768px ) {
  body{
    background-color: rgb(240,244,247);
  }
}

/*====================
Open Street Map
====================*/
.leaflet-container {
  height: 300px;
  width: 100%;
  border: 6px ridge rgb(174, 245, 227);
  border-radius: 4px;
  z-index: 1;
}
/*====================
React Switch
====================*/
.react-switch-bg > div:nth-child(2){
  display: none;
}