*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

/*====================
Open Street Map
====================*/
.leaflet-container {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

/*====================
Google React Chart
====================*/
/* svg > g > g:last-child { pointer-events: none } */