.Toastify__toast {
  border-radius: 30px !important;
  min-height: 40px !important;
  padding: 0 8px !important;
  margin-bottom: 10px !important;
}

/* .Toastify__toast-container {
  width: 185px !important;
} */

.Toastify__toast-container--top-left{
  top: 77.5px !important;
}

.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  background: #f0f9fa !important;
}

/* .Toastify__toast--success::before {
  content : url('/file-circle-check-solid.svg');
  position: absolute; 
  z-index: 100000;
  left: 12px;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
} */

.Toastify__progress-bar--success, .Toastify__progress-bar--warning, .Toastify__progress-bar--error{
  background: none !important;
}

.Toastify__toast--warning {
  border: 1px solid #E78326  !important;
  background: #fcf1e6 !important;
}

.Toastify__toast--error {
  border: 1px solid #EB5757;
  background: #FAE1E2 !important;
}

.Toastify__toast-theme--light{
  color: #333333 !important;
  font-weight: bold;
}

.Toastify__close-button {
  align-self: center !important;
  display: flex;
}

@media screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .Toastify__toast-container--top-left {
    left: 35% !important;
    transform: translateX(-50%) !important;
  }
}

@media screen and (min-width: 1068px) {
  .Toastify__toast-container--top-left {
    left: calc(35% + 315px / 2) !important;
  }
}

@media screen and (min-width: 1440px){
  .Toastify__toast-container--top-left{
    left: 50% !important;
    transform: translateX(-216px) !important;
  }
}
